@font-face {
  font-family: "CMYKons";
  src: url(fonts/layer1-cmykons/fontcustom.ttf);
  font-weight: 100; }

@font-face {
  font-family: "CMYKons";
  src: url(fonts/layer2-cmykons/fontcustom.ttf);
  font-weight: 200; }

@font-face {
  font-family: "CMYKons";
  src: url(fonts/layer3-cmykons/fontcustom.ttf);
  font-weight: 300; }

@font-face {
  font-family: "CMYKons";
  src: url(fonts/layer4-cmykons/fontcustom.ttf);
  font-weight: 400; }

.cmykon {
  font-family: "CMYKons";
  white-space: pre;
  font-weight: 300;
  line-height: 0;
  padding: 0.5em 0;
  height: 0;
  letter-spacing: -1em; }

.cmykon:first-letter {
  font-weight: 100; }

.cmykon:first-line {
  font-weight: 200; }

.cmykon:after {
  font-weight: 400; }

/**
 * Another icon
 */
.books {
  color: #cccccc; }
  .books:first-letter {
    color: #cbb345; }
  .books:first-line {
    color: #af420a; }
  .books:before {
    content: "aa\a a"; }
  .books:after {
    color: #595959;
    content: "a";
    opacity: 0.2; }

/**
 * Another icon
 */
.browser {
  color: #af420a; }
  .browser:first-letter {
    color: #cbb345; }
  .browser:first-line {
    color: #333333; }
  .browser:before {
    content: "bb\a b"; }
  .browser:after {
    color: #798e87;
    content: "b"; }

/**
 * Another icon
 */
.calendar {
  color: #798e87; }
  .calendar:first-letter {
    color: #af420a;
    opacity: 0.9; }
  .calendar:first-line {
    color: #cbb345;
    opacity: 1.0; }
  .calendar:before {
    content: "cc\a c";
    opacity: 0.7; }
  .calendar:after {
    color: #595959;
    opacity: 0.9;
    content: "c"; }

/**
 * Another icon
 */
.camera {
  color: #cbb345; }
  .camera:first-letter {
    color: #cccccc; }
  .camera:first-line {
    color: #1f1f1f; }
  .camera:before {
    content: "dd\a d"; }
  .camera:after {
    color: #595959;
    opacity: 0.4;
    content: "d"; }

/**
 * Another icon
 */
.clock {
  color: #cbb345; }
  .clock:first-letter {
    color: #595959; }
  .clock:first-line {
    color: #333333; }
  .clock:before {
    content: "ee\a e"; }
  .clock:after {
    color: #1f1f1f;
    content: "e"; }

/**
 * Another icon
 */
.coffee {
  color: #cbb345; }
  .coffee:first-letter {
    color: #af420a;
    opacity: 0.9; }
  .coffee:first-line {
    color: #1f1f1f; }
  .coffee:before {
    content: "ff\a f";
    opacity: 0.8; }
  .coffee:after {
    color: #595959;
    opacity: 0.4;
    content: "f"; }

.compass {
  color: #798e87; }
  .compass:first-letter {
    color: #af420a;
    opacity: 0.5; }
  .compass:first-line {
    color: #595959;
    opacity: 1; }
  .compass:before {
    content: "gg\a g";
    opacity: 0.5; }
  .compass:after {
    color: #1f1f1f;
    content: "g"; }

.debit {
  color: #333333; }
  .debit:first-letter {
    color: #cbb345; }
  .debit:first-line {
    color: #798e87; }
  .debit:before {
    content: "hh\a h"; }
  .debit:after {
    color: #595959;
    opacity: 0.4;
    content: "h"; }

.gauge {
  color: #333333; }
  .gauge:first-letter {
    color: #cbb345; }
  .gauge:first-line {
    color: #af420a; }
  .gauge:before {
    content: "ii\a i"; }
  .gauge:after {
    color: #595959;
    opacity: 0.4;
    content: "i"; }

.graph {
  color: #4b574d; }
  .graph:first-letter {
    color: #cbb345; }
  .graph:first-line {
    color: #609f80; }
  .graph:before {
    content: "jj\a j";
    opacity: 0.9; }
  .graph:after {
    color: #595959;
    opacity: 0.4;
    content: "j"; }

.grid {
  color: #cccccc; }
  .grid:first-letter {
    color: #1f1f1f; }
  .grid:first-line {
    color: gray; }
  .grid:before {
    content: "kk\a k"; }
  .grid:after {
    color: #cbb345;
    opacity: 0.6;
    content: "k"; }

.liferaft {
  color: #595959; }
  .liferaft:first-letter {
    color: #cbb345; }
  .liferaft:first-line {
    color: #af420a; }
  .liferaft:before {
    content: "ll\a l"; }
  .liferaft:after {
    color: #333333;
    content: "l"; }

.pencil {
  color: #595959; }
  .pencil:first-letter {
    color: #cbb345; }
  .pencil:first-line {
    color: #333333; }
  .pencil:before {
    content: "mm\a m"; }
  .pencil:after {
    color: #595959;
    opacity: 0.4;
    content: "m"; }

.phone {
  color: #8d9876; }
  .phone:first-letter {
    color: #cbb345;
    opacity: 0.9; }
  .phone:first-line {
    color: #4b574d; }
  .phone:before {
    content: "nn\a n";
    opacity: 1; }
  .phone:after {
    color: #333333;
    opacity: 0.9;
    content: "n"; }

.piechart {
  color: #af420a; }
  .piechart:first-letter {
    color: #333333; }
  .piechart:first-line {
    color: #609f80; }
  .piechart:before {
    content: "oo\a o"; }
  .piechart:after {
    color: #cbb345;
    content: "o"; }

.pin {
  color: #595959; }
  .pin:first-letter {
    color: #cbb345; }
  .pin:first-line {
    color: #798e87; }
  .pin:before {
    content: "pp\a p"; }
  .pin:after {
    color: #333333;
    opacity: 0.3;
    content: "p"; }

.pizza {
  color: #af420a; }
  .pizza:first-letter {
    color: #cbb345; }
  .pizza:first-line {
    color: #595959; }
  .pizza:before {
    content: "qq\a q"; }
  .pizza:after {
    color: #333333;
    opacity: 0.3;
    content: "q"; }

.radio {
  color: #cccccc; }
  .radio:first-letter {
    color: #cbb345;
    opacity: 0.9; }
  .radio:first-line {
    color: #333333;
    opacity: 1; }
  .radio:before {
    content: "rr\a r";
    opacity: 0.3; }
  .radio:after {
    color: #af420a;
    content: "r";
    opacity: 1; }

.spaceship {
  color: #cccccc; }
  .spaceship:first-letter {
    color: #cbb345; }
  .spaceship:first-line {
    color: #333333; }
  .spaceship:before {
    content: "ss\a s"; }
  .spaceship:after {
    color: #1f1f1f;
    opacity: 0.3;
    content: "s"; }

.stamp {
  color: gray; }
  .stamp:first-letter {
    color: #cbb345; }
  .stamp:first-line {
    color: #333333; }
  .stamp:before {
    content: "tt\a t"; }
  .stamp:after {
    color: #af420a;
    content: "t"; }
