@font-face {
  font-family: "CMYKons";
  src: url(fonts/cmykons-100.woff);
  font-weight: 100; }

@font-face {
  font-family: "CMYKons";
  src: url(fonts/cmykons-200.woff);
  font-weight: 200; }

@font-face {
  font-family: "CMYKons";
  src: url(fonts/cmykons-300.woff);
  font-weight: 300; }

@font-face {
  font-family: "CMYKons";
  src: url(fonts/cmykons-400.woff);
  font-weight: 400; }

.cmykon {
  font-family: "CMYKons";
  white-space: pre;
  font-weight: 300;
  line-height: 0;
  padding: 0.5em 0;
  height: 0;
  letter-spacing: -1em; }

.cmykon:first-letter {
  font-weight: 100; }

.cmykon:first-line {
  font-weight: 200; }

.cmykon:after {
  font-weight: 400;
  color: #595959;
  opacity: 0.3; }

/**
 * Another icon
 */
.books {
  color: #cccccc; }
  .books:first-letter {
    color: #af420a; }
  .books:first-line {
    color: #1f1f1f; }
  .books:before {
    content: "aa\a a"; }
  .books:after {
    content: "a"; }

/**
 * Another icon
 */
.browser {
  color: #cbb345; }
  .browser:first-letter {
    color: #cccccc; }
  .browser:first-line {
    color: #333333; }
  .browser:before {
    content: "bb\a b"; }
  .browser:after {
    color: #af420a;
    opacity: 1;
    content: "b"; }

/**
 * Another icon
 */
.calendar {
  color: #af420a; }
  .calendar:first-letter {
    color: #cbb345; }
  .calendar:first-line {
    color: #333333;
    opacity: 0.1; }
  .calendar:before {
    content: "cc\a c"; }
  .calendar:after {
    content: "c"; }

/**
 * Another icon
 */
.camera {
  color: #af420a; }
  .camera:first-letter {
    color: #cccccc; }
  .camera:first-line {
    color: #1f1f1f; }
  .camera:before {
    content: "dd\a d"; }
  .camera:after {
    content: "d"; }

/**
 * Another icon
 */
.clock {
  color: #af420a; }
  .clock:first-letter {
    color: gray; }
  .clock:first-line {
    color: #595959; }
  .clock:before {
    content: "ee\a e"; }
  .clock:after {
    color: #1f1f1f;
    opacity: 1;
    content: "e"; }

/**
 * Another icon
 */
.coffee {
  color: #cccccc; }
  .coffee:first-letter {
    color: #af420a;
    opacity: 0.9; }
  .coffee:first-line {
    color: #1f1f1f; }
  .coffee:before {
    content: "ff\a f";
    opacity: 0.8; }
  .coffee:after {
    content: "f"; }

.compass {
  color: #af420a; }
  .compass:first-letter {
    color: #cccccc; }
  .compass:first-line {
    color: #1f1f1f; }
  .compass:before {
    content: "gg\a g"; }
  .compass:after {
    content: "g"; }

.debit {
  color: #333333; }
  .debit:first-letter {
    color: #af420a; }
  .debit:first-line {
    color: #798e87; }
  .debit:before {
    content: "hh\a h"; }
  .debit:after {
    content: "h"; }

.gauge {
  color: #333333; }
  .gauge:first-letter {
    color: #cccccc; }
  .gauge:first-line {
    color: #af420a; }
  .gauge:before {
    content: "ii\a i"; }
  .gauge:after {
    content: "i"; }

.graph {
  color: #595959; }
  .graph:first-letter {
    color: #cbb345; }
  .graph:first-line {
    color: #af420a; }
  .graph:before {
    content: "jj\a j"; }
  .graph:after {
    content: "j"; }

.grid {
  color: #cccccc; }
  .grid:first-letter {
    color: #1f1f1f; }
  .grid:first-line {
    color: gray; }
  .grid:before {
    content: "kk\a k"; }
  .grid:after {
    color: #af420a;
    opacity: 0.5;
    content: "k"; }

.liferaft {
  color: #595959; }
  .liferaft:first-letter {
    color: #cbb345; }
  .liferaft:first-line {
    color: #af420a; }
  .liferaft:before {
    content: "ll\a l"; }
  .liferaft:after {
    content: "l"; }

.pencil {
  color: #595959; }
  .pencil:first-letter {
    color: #af420a; }
  .pencil:first-line {
    color: #333333; }
  .pencil:before {
    content: "mm\a m"; }
  .pencil:after {
    content: "m"; }

.phone {
  color: #333333; }
  .phone:first-letter {
    color: #333333;
    opacity: 0.1; }
  .phone:first-line {
    color: #af420a; }
  .phone:before {
    content: "nn\a n"; }
  .phone:after {
    content: "n"; }

.piechart {
  color: #cbb345; }
  .piechart:first-letter {
    color: #333333; }
  .piechart:first-line {
    color: #af420a; }
  .piechart:before {
    content: "oo\a o"; }
  .piechart:after {
    content: "o"; }

.pin {
  color: #b3440a; }
  .pin:first-letter {
    color: #af420a; }
  .pin:first-line {
    color: gray; }
  .pin:before {
    content: "pp\a p"; }
  .pin:after {
    content: "p"; }

.pizza {
  color: #af420a; }
  .pizza:first-letter {
    color: #cbb345; }
  .pizza:first-line {
    color: #595959; }
  .pizza:before {
    content: "qq\a q"; }
  .pizza:after {
    content: "q"; }

.radio {
  color: #af420a; }
  .radio:first-letter {
    color: #cccccc; }
  .radio:first-line {
    color: #333333;
    opacity: 1; }
  .radio:before {
    content: "rr\a r"; }
  .radio:after {
    content: "r"; }

.spaceship {
  color: #cccccc; }
  .spaceship:first-letter {
    color: #af420a; }
  .spaceship:first-line {
    color: #333333; }
  .spaceship:before {
    content: "ss\a s"; }
  .spaceship:after {
    content: "s"; }

.stamp {
  color: #af420a; }
  .stamp:first-letter {
    color: #cccccc; }
  .stamp:first-line {
    color: #cbb345; }
  .stamp:before {
    content: "tt\a t"; }
  .stamp:after {
    content: "t"; }
