@charset "UTF-8";
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

html {
  font-size: 16px; }

h1, .inline a {
  text-transform: uppercase; }

body, h3 {
  font-family: 'Aleo';
  font-weight: 300;
  font-style: normal; }

h1,
h2 {
  font-family: 'Aleo';
  font-weight: 700;
  font-style: normal; }

code {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  font-style: normal; }

/*
┌─────────────────────────────────────────────────┐
├─────────────────────────────────────────────────┤
│ Point Sizes - Reference                         │
├─────────────────────────────────────────────────┤
├─────────────────────────────────────────────────┤
│ PIXELS                                   POINTS │
├─────────────────────────────────────────────────┤
│ 12px                                     p9     │
├─────────────────────────────────────────────────┤
│ 14px                                     p10.5  │
├─────────────────────────────────────────────────┤
│ 16px                                     p12    │
├─────────────────────────────────────────────────┤
│ 18px                                     p13.5  │
├─────────────────────────────────────────────────┤
│ 24px                                     p18    │
├─────────────────────────────────────────────────┤
│ 32px                                     p24    │
├─────────────────────────────────────────────────┤
│ 38px                                     p28.5  │
├─────────────────────────────────────────────────┤
└─────────────────────────────────────────────────┘
*/
ul {
  font-size: 1.125rem;
  line-height: 1.83333rem; }

body, h3 {
  font-size: 1.5rem;
  line-height: 3.04333rem;
  margin-top: 0; }

h2 {
  font-size: 2.375rem;
  line-height: 3.66667rem;
  margin-top: 0;
  padding-top: 0.70833rem;
  margin-bottom: -0.70833rem; }

h1 {
  font-size: 3.5rem;
  line-height: 5.5rem;
  margin-top: 0;
  padding-top: 0.70833rem;
  margin-bottom: -0.70833rem; }

h1 {
  letter-spacing: 0.25rem; }

.block-group {
  font-family: monospace;
  letter-spacing: -.65em;
  margin-left: -1em;
  margin-right: -1em;
  text-align: left;
  display: block; }
  .block-group.center {
    text-align: center; }

.block {
  position: relative;
  display: inline-block;
  float: none;
  text-align: left;
  vertical-align: top; }

.block-group-1-up .block {
  width: 100%; }

.block-group-2-up .block {
  width: 50%; }

.block-group-3-up .block {
  width: 33.33333%; }

.block-group-4-up .block {
  width: 25%; }

.block-group-5-up .block {
  width: 20%; }

.container {
  max-width: 112rem;
  margin: auto;
  padding: 0 2rem; }

.content-area {
  max-width: 66.66667%;
  margin: auto; }
  .content-area h1,
  .content-area h2,
  .content-area h3 {
    text-align: center; }

.banner {
  padding: 2rem 0 3rem 0;
  background-color: #333333; }

.inline {
  max-width: 66.66667%;
  margin: auto;
  display: block;
  list-style-type: none; }
  .inline li {
    margin-right: 2rem;
    float: left; }
  .inline a {
    letter-spacing: 0.16667rem;
    text-decoration: none;
    color: #fafafa; }
    .inline a:hover {
      color: orange; }

.introduction {
  padding: 2rem 0;
  background-color: #a6a6a6; }

.button {
  letter-spacing: 0.08333rem;
  padding: 0.75rem 2rem;
  color: #fafafa;
  text-decoration: none;
  background-color: #333333;
  border: 1px solid #1f1f1f; }
  .button:hover {
    background-color: #1f1f1f; }

.cmykon {
  font-size: 16rem; }

.cmykons-demo {
  padding: 6rem;
  background-color: #fafafa; }

.about {
  padding: 2rem 0;
  background-color: #a6a6a6; }

pre {
  background-color: #333333;
  border: 1px solid #1f1f1f;
  padding: 2rem 2rem 0 2rem;
  margin: 2rem 0 0 0; }

code {
  color: #fafafa; }

footer {
  padding: 1rem 0;
  background-color: #333333; }

.collophon {
  color: #fafafa; }
