html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

.block-group {
  font-family: monospace;
  letter-spacing: -.65em;
  margin-left: -1em;
  margin-right: -1em;
  text-align: left;
  display: block; }
  .block-group.center {
    text-align: center; }

.block {
  position: relative;
  display: inline-block;
  float: none;
  text-align: left;
  vertical-align: top; }

.block-group-1-up .block {
  width: 100%; }

.block-group-2-up .block {
  width: 50%; }

.block-group-3-up .block {
  width: 33.33333%; }

.block-group-4-up .block {
  width: 25%; }

.block-group-5-up .block {
  width: 20%; }

.container {
  max-width: 112rem;
  margin: auto;
  padding: 0 2rem; }

.content-area {
  max-width: 66.66667%;
  margin: auto; }
  .content-area h1,
  .content-area h2,
  .content-area h3 {
    text-align: center; }

.banner {
  padding: 2rem 0 3rem 0;
  background-color: #333333; }

.inline {
  max-width: 66.66667%;
  margin: auto;
  display: block;
  list-style-type: none; }
  .inline li {
    margin-right: 2rem;
    float: left; }
  .inline a {
    color: #fafafa; }

.introduction {
  padding: 2rem 0;
  background-color: #a6a6a6; }

.cmykon {
  font-size: 12rem; }

.cmykons-demo {
  padding: 6rem;
  background-color: #fafafa; }

.about {
  padding: 2rem 0;
  background-color: #a6a6a6; }

pre {
  background-color: #333333;
  border: 1px solid #1f1f1f;
  padding: 2rem;
  margin: 2rem 0; }

code {
  color: #fafafa; }

footer {
  padding: 1rem 0;
  background-color: #333333; }

.collophon {
  color: #fafafa; }
