.block-group {
  font-family: monospace;
  letter-spacing: -.65em;
  margin-left: -1em;
  margin-right: -1em;
  text-align: left;
  display: block; }
  .block-group.center {
    text-align: center; }

.block {
  position: relative;
  display: inline-block;
  float: none;
  text-align: left;
  vertical-align: top; }

.block-group-1-up .block {
  width: 100%; }

.block-group-2-up .block {
  width: 50%; }

.block-group-3-up .block {
  width: 33.33333%; }

.block-group-4-up .block {
  width: 25%; }

.block-group-5-up .block {
  width: 20%; }

.cmykon {
  font-size: 12rem; }

.cmykons-demo {
  margin: 6rem; }
